body{
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* height: 100vh; */
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dropdown-container {
  margin-bottom: 10px;
}

.card-container {
  margin-bottom: 20px;
}

.card {
  width: 18rem;
}

.progress {
  margin-top: 20px;
}